# Provenance: MODELED-FROM-DOCS (grounded=modeled-from-docs).
# Culqi does not publish a downloadable OpenAPI/Swagger document; the API
# reference at https://apidocs.culqi.com/ is a client-rendered SPA with no
# fetchable spec artifact (openapi.json/yaml return the SPA HTML shell).
# This document was modeled from Culqi's live developer documentation
# (https://docs.culqi.com/), the API reference (https://apidocs.culqi.com/),
# and the official open-source SDKs (github.com/culqi/culqi-python,
# culqi-go, culqi-php), verified July 2026.
# Hosts confirmed live: api.culqi.com (server-side, secret key sk_) and
# secure.culqi.com (tokenization + 3DS confirm, public key pk_).
openapi: 3.0.3
info:
  title: Culqi API v2
  description: >-
    Culqi is a Peruvian online payments platform (a Grupo Credicorp / Krealo
    company) that lets businesses accept card, Yape, PagoEfectivo, mobile
    wallet and Cuotealo (installment) payments. The REST API v2 exposes
    tokenization, charges (cargos), orders, refunds, customers, cards, plans,
    subscriptions, webhook events, card-BIN (iin) lookup and transfers.
    Card data is tokenized client-side against the PCI-scoped secure host;
    all money-movement and management operations run against the server host
    with a secret key. Amounts are integers in the currency minor unit
    (cents); supported currencies are PEN (Peruvian Sol) and USD.
  termsOfService: https://culqi.com/terminos_y_condiciones/
  contact:
    name: Culqi Developer Support
    url: https://docs.culqi.com/
  version: '2.0'
servers:
  - url: https://api.culqi.com/v2
    description: Server-side host for charges, orders, refunds, customers, cards, plans, subscriptions, events, iins and transfers (authenticated with a secret key, sk_).
  - url: https://secure.culqi.com/v2
    description: PCI-scoped host for card tokenization and 3DS charge confirmation (authenticated with a public key, pk_).
tags:
  - name: Tokens
    description: Client-side tokenization of card and Yape credentials on the secure host.
  - name: Charges
    description: One-time charges (cargos) against a token or saved card.
  - name: Orders
    description: Payment orders for PagoEfectivo (CIP) and bank-transfer / cash-agent flows.
  - name: Refunds
    description: Full or partial refunds (devoluciones) of a charge.
  - name: Customers
    description: Stored customer (cliente) profiles.
  - name: Cards
    description: Cards saved against a customer for recurring or one-click charges.
  - name: Plans
    description: Recurring-billing plan definitions.
  - name: Subscriptions
    description: Subscriptions linking a saved card to a plan.
  - name: Events
    description: Webhook event objects representing account activity.
  - name: Iins
    description: Card BIN / IIN metadata lookup.
  - name: Transfers
    description: Settlement transfers (abonos) paid out to the merchant.
  - name: 3DS
    description: 3-D Secure charge confirmation on the secure host.
paths:
  /tokens:
    servers:
      - url: https://secure.culqi.com/v2
    post:
      operationId: createToken
      tags: [Tokens]
      summary: Create a card token
      description: >-
        Tokenizes card data on the PCI-scoped secure host using the public
        key (pk_). The resulting token id (tkn_...) is single-use and is
        passed as source_id when creating a charge.
      security:
        - publicKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
      responses:
        '201':
          description: Token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
    get:
      operationId: listTokens
      tags: [Tokens]
      summary: List tokens
      security:
        - secretKey: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: A paginated list of tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenList'
  /tokens/yape:
    servers:
      - url: https://secure.culqi.com/v2
    post:
      operationId: createYapeToken
      tags: [Tokens]
      summary: Create a Yape token
      description: >-
        Tokenizes a Yape (BCP mobile wallet) approval code and phone number
        into a single-use token (ype_...) for use as a charge source_id.
      security:
        - publicKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateYapeTokenRequest'
      responses:
        '201':
          description: Yape token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          $ref: '#/components/responses/Error'
  /tokens/{id}:
    servers:
      - url: https://secure.culqi.com/v2
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getToken
      tags: [Tokens]
      summary: Retrieve a token
      security:
        - secretKey: []
      responses:
        '200':
          description: Token object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '404':
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateToken
      tags: [Tokens]
      summary: Update token metadata
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdate'
      responses:
        '200':
          description: Updated token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
  /confirm:
    servers:
      - url: https://secure.culqi.com/v2
    post:
      operationId: confirmCharge
      tags: [3DS]
      summary: Confirm a 3DS-authenticated charge
      description: >-
        Confirms a charge whose token was authenticated via Culqi 3DS.
        Sent to the secure host with the public key after the cardholder
        completes the 3-D Secure challenge.
      security:
        - publicKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmRequest'
      responses:
        '200':
          description: Confirmation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '400':
          $ref: '#/components/responses/Error'
  /charges:
    post:
      operationId: createCharge
      tags: [Charges]
      summary: Create a charge
      description: >-
        Creates a one-time charge (cargo) against a token, saved card or
        Yape token. amount is an integer in the currency minor unit (cents),
        currency_code is PEN or USD.
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChargeRequest'
      responses:
        '201':
          description: Charge created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '400':
          $ref: '#/components/responses/Error'
        '402':
          $ref: '#/components/responses/Error'
    get:
      operationId: listCharges
      tags: [Charges]
      summary: List charges
      security:
        - secretKey: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: A paginated list of charges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeList'
  /charges/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getCharge
      tags: [Charges]
      summary: Retrieve a charge
      security:
        - secretKey: []
      responses:
        '200':
          description: Charge object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '404':
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateCharge
      tags: [Charges]
      summary: Update charge metadata
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdate'
      responses:
        '200':
          description: Updated charge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
  /charges/{id}/capture:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    post:
      operationId: captureCharge
      tags: [Charges]
      summary: Capture a pre-authorized charge
      description: Captures a charge that was created with capture=false (authorization hold).
      security:
        - secretKey: []
      responses:
        '200':
          description: Captured charge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
  /orders:
    post:
      operationId: createOrder
      tags: [Orders]
      summary: Create an order
      description: >-
        Creates a payment order used by asynchronous methods such as
        PagoEfectivo (generates a CIP code) and bank transfers. amount is an
        integer in the currency minor unit.
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/Error'
    get:
      operationId: listOrders
      tags: [Orders]
      summary: List orders
      security:
        - secretKey: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: A paginated list of orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
  /orders/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getOrder
      tags: [Orders]
      summary: Retrieve an order
      security:
        - secretKey: []
      responses:
        '200':
          description: Order object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateOrder
      tags: [Orders]
      summary: Update order metadata
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdate'
      responses:
        '200':
          description: Updated order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
    delete:
      operationId: deleteOrder
      tags: [Orders]
      summary: Delete an order
      security:
        - secretKey: []
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
  /orders/confirm:
    post:
      operationId: confirmOrder
      tags: [Orders]
      summary: Confirm an order
      description: Confirms an order, generating the payment instrument (e.g. PagoEfectivo CIP) for the customer.
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmOrderRequest'
      responses:
        '200':
          description: Confirmed order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
  /refunds:
    post:
      operationId: createRefund
      tags: [Refunds]
      summary: Create a refund
      description: Refunds all or part of a charge. amount is an integer in the currency minor unit.
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
      responses:
        '201':
          description: Refund created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          $ref: '#/components/responses/Error'
    get:
      operationId: listRefunds
      tags: [Refunds]
      summary: List refunds
      security:
        - secretKey: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: A paginated list of refunds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundList'
  /refunds/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getRefund
      tags: [Refunds]
      summary: Retrieve a refund
      security:
        - secretKey: []
      responses:
        '200':
          description: Refund object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '404':
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateRefund
      tags: [Refunds]
      summary: Update refund metadata
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdate'
      responses:
        '200':
          description: Updated refund
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
  /customers:
    post:
      operationId: createCustomer
      tags: [Customers]
      summary: Create a customer
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/Error'
    get:
      operationId: listCustomers
      tags: [Customers]
      summary: List customers
      security:
        - secretKey: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: A paginated list of customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList'
  /customers/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getCustomer
      tags: [Customers]
      summary: Retrieve a customer
      security:
        - secretKey: []
      responses:
        '200':
          description: Customer object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateCustomer
      tags: [Customers]
      summary: Update a customer
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '200':
          description: Updated customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
    delete:
      operationId: deleteCustomer
      tags: [Customers]
      summary: Delete a customer
      security:
        - secretKey: []
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
  /cards:
    post:
      operationId: createCard
      tags: [Cards]
      summary: Create a card
      description: Saves a card to a customer by associating a token with a customer id.
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCardRequest'
      responses:
        '201':
          description: Card created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          $ref: '#/components/responses/Error'
    get:
      operationId: listCards
      tags: [Cards]
      summary: List cards
      security:
        - secretKey: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: A paginated list of cards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardList'
  /cards/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getCard
      tags: [Cards]
      summary: Retrieve a card
      security:
        - secretKey: []
      responses:
        '200':
          description: Card object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '404':
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateCard
      tags: [Cards]
      summary: Update a card
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardRequest'
      responses:
        '200':
          description: Updated card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
    delete:
      operationId: deleteCard
      tags: [Cards]
      summary: Delete a card
      security:
        - secretKey: []
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
  /plans:
    post:
      operationId: createPlan
      tags: [Plans]
      summary: Create a plan
      description: Defines a recurring-billing plan (interval, amount, currency, limit).
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanRequest'
      responses:
        '201':
          description: Plan created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        '400':
          $ref: '#/components/responses/Error'
    get:
      operationId: listPlans
      tags: [Plans]
      summary: List plans
      security:
        - secretKey: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: A paginated list of plans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanList'
  /plans/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getPlan
      tags: [Plans]
      summary: Retrieve a plan
      security:
        - secretKey: []
      responses:
        '200':
          description: Plan object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        '404':
          $ref: '#/components/responses/Error'
    patch:
      operationId: updatePlan
      tags: [Plans]
      summary: Update a plan
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdate'
      responses:
        '200':
          description: Updated plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
    delete:
      operationId: deletePlan
      tags: [Plans]
      summary: Delete a plan
      security:
        - secretKey: []
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
  /subscriptions:
    post:
      operationId: createSubscription
      tags: [Subscriptions]
      summary: Create a subscription
      description: Subscribes a saved card to a plan for recurring charges.
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/Error'
    get:
      operationId: listSubscriptions
      tags: [Subscriptions]
      summary: List subscriptions
      security:
        - secretKey: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: A paginated list of subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionList'
  /subscriptions/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getSubscription
      tags: [Subscriptions]
      summary: Retrieve a subscription
      security:
        - secretKey: []
      responses:
        '200':
          description: Subscription object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '404':
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateSubscription
      tags: [Subscriptions]
      summary: Update a subscription
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdate'
      responses:
        '200':
          description: Updated subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
    delete:
      operationId: deleteSubscription
      tags: [Subscriptions]
      summary: Cancel a subscription
      security:
        - secretKey: []
      responses:
        '200':
          description: Cancellation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
  /events:
    get:
      operationId: listEvents
      tags: [Events]
      summary: List webhook events
      description: Lists account events (charge.creation.succeeded, order.status.changed, etc.) delivered to webhooks.
      security:
        - secretKey: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: A paginated list of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
  /events/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getEvent
      tags: [Events]
      summary: Retrieve an event
      security:
        - secretKey: []
      responses:
        '200':
          description: Event object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/Error'
  /iins/{iin}:
    parameters:
      - name: iin
        in: path
        required: true
        description: The card IIN/BIN (first 6 or 8 digits).
        schema:
          type: string
    get:
      operationId: getIin
      tags: [Iins]
      summary: Look up card IIN metadata
      description: Returns brand, card type, issuer and country information for a card IIN/BIN.
      security:
        - secretKey: []
      responses:
        '200':
          description: IIN metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iin'
        '404':
          $ref: '#/components/responses/Error'
  /transfers:
    get:
      operationId: listTransfers
      tags: [Transfers]
      summary: List settlement transfers
      description: Lists settlement transfers (abonos) paid out to the merchant bank account.
      security:
        - secretKey: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: A paginated list of transfers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferList'
  /transfers/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getTransfer
      tags: [Transfers]
      summary: Retrieve a settlement transfer
      security:
        - secretKey: []
      responses:
        '200':
          description: Transfer object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
        '404':
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    secretKey:
      type: http
      scheme: bearer
      bearerFormat: sk_live_/sk_test_ secret key
      description: >-
        Server-side secret key sent as an HTTP Bearer token in the
        Authorization header, e.g. `Authorization: Bearer sk_live_...`.
    publicKey:
      type: http
      scheme: bearer
      bearerFormat: pk_live_/pk_test_ public key
      description: >-
        Public key sent as an HTTP Bearer token for tokenization and 3DS
        confirm on the secure host, e.g. `Authorization: Bearer pk_live_...`.
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: The unique resource identifier.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: Number of records to return (max 100).
      schema:
        type: integer
        default: 10
        maximum: 100
    Before:
      name: before
      in: query
      required: false
      description: Cursor - return records created before this id.
      schema:
        type: string
    After:
      name: after
      in: query
      required: false
      description: Cursor - return records created after this id.
      schema:
        type: string
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    CurrencyCode:
      type: string
      description: ISO currency code. Culqi supports PEN and USD.
      enum: [PEN, USD]
    Metadata:
      type: object
      description: Arbitrary key/value metadata attached to a resource.
      additionalProperties:
        type: string
    MetadataUpdate:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
    Deleted:
      type: object
      properties:
        deleted:
          type: boolean
        id:
          type: string
        merchant_message:
          type: string
    Error:
      type: object
      properties:
        object:
          type: string
          example: error
        type:
          type: string
          example: card_error
        merchant_message:
          type: string
        user_message:
          type: string
        param:
          type: string
        code:
          type: string
    CreateTokenRequest:
      type: object
      required: [card_number, cvv, expiration_month, expiration_year, email]
      properties:
        card_number:
          type: string
          example: '4111111111111111'
        cvv:
          type: string
          example: '123'
        expiration_month:
          type: string
          example: '09'
        expiration_year:
          type: string
          example: '2028'
        email:
          type: string
          format: email
        metadata:
          $ref: '#/components/schemas/Metadata'
    CreateYapeTokenRequest:
      type: object
      required: [amount, otp, number_phone]
      properties:
        amount:
          type: integer
          description: Amount in minor units (cents).
        otp:
          type: string
          description: Yape approval code entered by the payer.
        number_phone:
          type: string
          description: Payer Yape phone number.
        metadata:
          $ref: '#/components/schemas/Metadata'
    Token:
      type: object
      properties:
        object:
          type: string
          example: token
        id:
          type: string
          example: tkn_test_xxxxxxxxxxxx
        type:
          type: string
          example: card
        email:
          type: string
        creation_date:
          type: integer
        card_number:
          type: string
          example: '411111******1111'
        last_four:
          type: string
        active:
          type: boolean
        iin:
          $ref: '#/components/schemas/Iin'
        client:
          type: object
          additionalProperties: true
        metadata:
          $ref: '#/components/schemas/Metadata'
    TokenList:
      $ref: '#/components/schemas/PaginatedList'
    ConfirmRequest:
      type: object
      required: [token_id]
      properties:
        token_id:
          type: string
        usermail:
          type: string
    CreateChargeRequest:
      type: object
      required: [amount, currency_code, email, source_id]
      properties:
        amount:
          type: integer
          description: Amount to charge in the currency minor unit (cents), e.g. 10000 = S/100.00.
          example: 10000
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
        email:
          type: string
          format: email
        source_id:
          type: string
          description: Token id (tkn_...), Yape token (ype_...) or saved card id (crd_...).
        description:
          type: string
          maxLength: 80
        capture:
          type: boolean
          description: When false, creates an authorization hold to be captured later.
          default: true
        installments:
          type: integer
          description: Number of installments for Cuotealo (installment) payments.
        antifraud_details:
          type: object
          additionalProperties: true
        metadata:
          $ref: '#/components/schemas/Metadata'
    Charge:
      type: object
      properties:
        object:
          type: string
          example: charge
        id:
          type: string
          example: chr_test_xxxxxxxxxxxx
        amount:
          type: integer
        amount_refunded:
          type: integer
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
        email:
          type: string
        description:
          type: string
        source:
          type: object
          additionalProperties: true
        outcome:
          type: object
          additionalProperties: true
        capture:
          type: boolean
        creation_date:
          type: integer
        metadata:
          $ref: '#/components/schemas/Metadata'
    ChargeList:
      $ref: '#/components/schemas/PaginatedList'
    CreateOrderRequest:
      type: object
      required: [amount, currency_code, description, order_number, client_details, expiration_date]
      properties:
        amount:
          type: integer
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
        description:
          type: string
        order_number:
          type: string
        client_details:
          type: object
          properties:
            first_name:
              type: string
            last_name:
              type: string
            email:
              type: string
            phone_number:
              type: string
        expiration_date:
          type: integer
          description: Unix timestamp when the order (e.g. PagoEfectivo CIP) expires.
        payment_methods:
          type: object
          additionalProperties: true
        metadata:
          $ref: '#/components/schemas/Metadata'
    ConfirmOrderRequest:
      type: object
      required: [order_id]
      properties:
        order_id:
          type: string
    Order:
      type: object
      properties:
        object:
          type: string
          example: order
        id:
          type: string
          example: ord_test_xxxxxxxxxxxx
        amount:
          type: integer
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
        state:
          type: string
          example: created
        order_number:
          type: string
        cip_code:
          type: string
          description: PagoEfectivo CIP payment code, when applicable.
        expiration_date:
          type: integer
        creation_date:
          type: integer
        metadata:
          $ref: '#/components/schemas/Metadata'
    OrderList:
      $ref: '#/components/schemas/PaginatedList'
    CreateRefundRequest:
      type: object
      required: [amount, charge_id, reason]
      properties:
        amount:
          type: integer
          description: Amount to refund in minor units. Omit or match charge amount for a full refund.
        charge_id:
          type: string
        reason:
          type: string
          enum: [duplicado, fraudulento, solicitud_comprador]
        metadata:
          $ref: '#/components/schemas/Metadata'
    Refund:
      type: object
      properties:
        object:
          type: string
          example: refund
        id:
          type: string
          example: ref_test_xxxxxxxxxxxx
        amount:
          type: integer
        charge_id:
          type: string
        reason:
          type: string
        creation_date:
          type: integer
        metadata:
          $ref: '#/components/schemas/Metadata'
    RefundList:
      $ref: '#/components/schemas/PaginatedList'
    CreateCustomerRequest:
      type: object
      required: [first_name, last_name, email, address, address_city, country_code, phone_number]
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        address:
          type: string
        address_city:
          type: string
        country_code:
          type: string
          description: ISO 3166-1 alpha-2 country code, e.g. PE.
          example: PE
        phone_number:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'
    Customer:
      type: object
      properties:
        object:
          type: string
          example: customer
        id:
          type: string
          example: cus_test_xxxxxxxxxxxx
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        creation_date:
          type: integer
        cards:
          type: array
          items:
            $ref: '#/components/schemas/Card'
        metadata:
          $ref: '#/components/schemas/Metadata'
    CustomerList:
      $ref: '#/components/schemas/PaginatedList'
    CreateCardRequest:
      type: object
      required: [customer_id, token_id]
      properties:
        customer_id:
          type: string
        token_id:
          type: string
        validate:
          type: boolean
          description: When true, runs a validation charge against the card.
        metadata:
          $ref: '#/components/schemas/Metadata'
    UpdateCardRequest:
      type: object
      properties:
        token_id:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'
    Card:
      type: object
      properties:
        object:
          type: string
          example: card
        id:
          type: string
          example: crd_test_xxxxxxxxxxxx
        customer_id:
          type: string
        source:
          type: object
          additionalProperties: true
        creation_date:
          type: integer
        metadata:
          $ref: '#/components/schemas/Metadata'
    CardList:
      $ref: '#/components/schemas/PaginatedList'
    CreatePlanRequest:
      type: object
      required: [name, amount, currency_code, interval_unit_time, interval_count]
      properties:
        name:
          type: string
        amount:
          type: integer
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
        interval_unit_time:
          type: integer
          description: Interval unit (e.g. 1=daily, 2=weekly, 3=monthly, 4=yearly).
        interval_count:
          type: integer
          description: Number of intervals between charges.
        limit:
          type: integer
          description: Maximum number of charges (0 = unlimited).
        metadata:
          $ref: '#/components/schemas/Metadata'
    Plan:
      type: object
      properties:
        object:
          type: string
          example: plan
        id:
          type: string
          example: pln_test_xxxxxxxxxxxx
        name:
          type: string
        amount:
          type: integer
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
        interval_unit_time:
          type: integer
        interval_count:
          type: integer
        creation_date:
          type: integer
        metadata:
          $ref: '#/components/schemas/Metadata'
    PlanList:
      $ref: '#/components/schemas/PaginatedList'
    CreateSubscriptionRequest:
      type: object
      required: [card_id, plan_id]
      properties:
        card_id:
          type: string
        plan_id:
          type: string
        tyc:
          type: boolean
          description: Acceptance of terms and conditions.
        metadata:
          $ref: '#/components/schemas/Metadata'
    Subscription:
      type: object
      properties:
        object:
          type: string
          example: subscription
        id:
          type: string
          example: sxn_test_xxxxxxxxxxxx
        status:
          type: integer
        plan_id:
          type: string
        card_id:
          type: string
        creation_date:
          type: integer
        next_billing_date:
          type: integer
        metadata:
          $ref: '#/components/schemas/Metadata'
    SubscriptionList:
      $ref: '#/components/schemas/PaginatedList'
    Event:
      type: object
      properties:
        object:
          type: string
          example: event
        id:
          type: string
          example: evt_test_xxxxxxxxxxxx
        type:
          type: string
          example: charge.creation.succeeded
        creation_date:
          type: integer
        data:
          type: object
          additionalProperties: true
    EventList:
      $ref: '#/components/schemas/PaginatedList'
    Iin:
      type: object
      properties:
        object:
          type: string
          example: iin
        bin:
          type: string
        card_brand:
          type: string
          example: Visa
        card_type:
          type: string
          example: credito
        card_category:
          type: string
        issuer:
          type: object
          properties:
            name:
              type: string
            country:
              type: string
            country_code:
              type: string
        installments_allowed:
          type: array
          items:
            type: integer
    Transfer:
      type: object
      properties:
        object:
          type: string
          example: transfer
        id:
          type: string
          example: tr_test_xxxxxxxxxxxx
        amount:
          type: integer
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
        status:
          type: string
        creation_date:
          type: integer
    TransferList:
      $ref: '#/components/schemas/PaginatedList'
    PaginatedList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        paging:
          type: object
          properties:
            previous:
              type: string
              nullable: true
            next:
              type: string
              nullable: true
            cursors:
              type: object
              properties:
                before:
                  type: string
                  nullable: true
                after:
                  type: string
                  nullable: true
